<div>   
    <div class="select_custom">
        <div ng-click="toogleClick()">
            <span class="select_rendered" ng-bind-html="selected"></span>
            <span class="select_rendered select_placeholder" ng-bind="placeholder" ng-show="!hasSelected"></span>

            <span class="select_arrow select_arrow_up" ng-show="isOpened">
                <i class="fa fa-angle-up"></i>
            </span>
            <span class="select_arrow select_arrow_down" ng-show="!isOpened">
                <i class="fa fa-angle-down"></i>
            </span>

        </div>
    </div>
    <div class="select_dropdown" ng-show="isOpened">
        <span class="select_search">
            <input type="text" ng-model="search" autofocus>
            <i class="fa fa-close" ng-click="cleanSearch()" ng-show="showClean"></i>
        </span>
        <ul class="select_listitens">
            <li ng-if="withTemplate" ng-repeat="ar in template | filter:search track by $index" ng-click="setSelected(ar)" ng-bind-html="render(ar)">
            </li>
            <li ng-if="!withTemplate" ng-repeat="ar in array | filter:search track by $index" ng-click="setSelected(ar)" ng-bind="ar">
            </li>
        </ul>
    </div>
</div>